.waTabs {
  .ant-tabs-nav::before {
    display: none !important;
  }
  .ant-tabs-tab {
    color: #8696a0 !important;
  }
  .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #00a884 !important;
  }
  .ant-tabs-ink-bar {
    background: #00a884 !important;
  }
}
